.whole{
  display: flex;
  min-height: 100vh;
  background-color: #999;
}

.content{
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin-left: 10px;
}

.leftNavigation{
  width: 250px;
  min-width: 250px;
  text-align:center;
  background-color: #888;
  color: #fff;
}