.main{
    display: flex;
    min-height: 100vh;
    background-color: #999;
}

.leftNavigation{
    width: 250px;
    min-width: 250px;
    text-align:center;
    background-color: #888;
    color: #fff;
}

.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-left: 10px;
}

.search-area{
    margin: 8px;
    padding: 8px;
    height: 30px;
}

.form{
    height: 2em;
    width: 30em;
    margin: 4px;
}

.search-button{
    height: 3em;
    width: 4em;
    margin: 4px;
}

.grid{
    display: grid;
    gap: 26px;
    grid-template-columns:repeat(3, minmax(240px,1fr));
    margin-top: 6%;
}